*.asv
*.prj
*.mexw64
codegen/
codegen/lib/quadrotor_m/buildInfo.mat
codegen/lib/quadrotor_m/codedescriptor.dmr
codegen/lib/quadrotor_m/codeInfo.mat
codegen/lib/quadrotor_m/gcGuiReport.mat
codegen/lib/quadrotor_m/make_exception.mat
codegen/lib/quadrotor_m/quadrotor_m_data.cpp
codegen/lib/quadrotor_m/quadrotor_m_data.h
codegen/lib/quadrotor_m/quadrotor_m_initialize.cpp
codegen/lib/quadrotor_m/quadrotor_m_initialize.h
codegen/lib/quadrotor_m/quadrotor_m_ref.rsp
codegen/lib/quadrotor_m/quadrotor_m_terminate.cpp
codegen/lib/quadrotor_m/quadrotor_m_terminate.h
codegen/lib/quadrotor_m/quadrotor_m_types.h
codegen/lib/quadrotor_m/quadrotor_m.cpp
codegen/lib/quadrotor_m/quadrotor_m.h
codegen/lib/quadrotor_m/rt_nonfinite.cpp
codegen/lib/quadrotor_m/rt_nonfinite.h
codegen/lib/quadrotor_m/rtGetInf.cpp
codegen/lib/quadrotor_m/rtGetInf.h
codegen/lib/quadrotor_m/rtGetNaN.cpp
codegen/lib/quadrotor_m/rtGetNaN.h
codegen/lib/quadrotor_m/rtw_proj.tmw
codegen/lib/quadrotor_m/rtwtypes.h
codegen/lib/quadrotor_m/.vscode/settings.json
codegen/lib/quadrotor_m/examples/main.cpp
codegen/lib/quadrotor_m/examples/main.h
codegen/lib/quadrotor_m/html/report.mldatx
codegen/lib/quadrotor_m/interface/_coder_quadrotor_m_api.c
codegen/lib/quadrotor_m/interface/_coder_quadrotor_m_api.h
codegen/lib/quadrotor_m/interface/_coder_quadrotor_m_info.c
codegen/lib/quadrotor_m/interface/_coder_quadrotor_m_info.h
codegen/lib/quadrotor_m/interface/_coder_quadrotor_m_mex.cpp
codegen/lib/quadrotor_m/interface/_coder_quadrotor_m_mex.h
codegen/mex/quadrotor_m/cfiGuiReport.mat
codegen/mex/quadrotor_m/quadrotor_m_mex.cg
codegen/mex/quadrotor_m/html/data.json
codegen/mex/quadrotor_m/html/manifest.json
codegen/mex/quadrotor_m/html/manifest.mat
codegen/mex/quadrotor_m/html/report.mldatx
codegen/mex/quadrotor_m/html/reportInfo.mat
